/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font: 400 16px/1.5 "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #454545;
  background-color: #f9f9f9;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  text-rendering: optimizelegibility; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px;
  text-rendering: optimizelegibility; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }
  ul > li, ol > li {
    line-height: 1.75; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 0; }

/**
 * Links
 */
a {
  color: #054275;
  text-decoration: none;
  transition: color 0.75s; }
  a:visited {
    color: #054275; }
  a:hover {
    color: #065597;
    text-decoration: none; }

/**
 * Blockquotes
 */
blockquote {
  color: #424242;
  line-height: 1.5;
  border-left: 4px solid #054275;
  padding-left: 15px;
  font-size: 1.2rem;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 1.5rem; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre {
  font-size: 15px;
  border: 1px solid #c2c2c2;
  border-radius: 3px;
  background-color: #eef;
  line-height: 1.1; }

code {
  padding: 0;
  font-family: "Fira Mono", monospace; }

pre {
  padding: 8px 12px;
  overflow-x: auto;
  font-family: "Fira Mono", monospace; }
  pre > code {
    padding: 1px 5px;
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(800px - (30px));
      max-width: calc(800px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

/**
 * Clearfix
 */
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

.hidden {
  display: none; }

/**
 * Site header
 */
.site-header {
  background-color: #000000;
  border-bottom: 1px solid #c2c2c2;
  min-height: 56px;
  position: relative; }

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 61px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  text-decoration: none;
  color: #c2c2c2 !important;
  transition: color 1s; }
  .site-title:hover {
    color: #FFFFFF !important;
    text-decoration: none; }

.subscribe {
  width: 18px;
  height: 18px;
  color: #828282;
  text-align: center;
  border-radius: 3px;
  overflow: hidden;
  display: inline-block;
  vertical-align: text-top;
  box-sizing: border-box;
  fill: currentColor; }

.site-nav {
  border-top: 4px solid black;
  font-size: 18px;
  float: right;
  line-height: 56px; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .page-link {
    color: #c2c2c2;
    line-height: 1.5;
    font-weight: 300; }
    .site-nav .page-link:not(:last-child) {
      margin-right: 20px; }
  .site-nav .page-link.active {
    color: #FFFFFF !important; }
  .site-nav .page-link:hover {
    color: #FFFFFF !important; }
  @media screen and (max-width: 600px) {
    .site-nav {
      z-index: 1000;
      position: absolute;
      top: 9px;
      right: 15px;
      background-color: #000000;
      border: 1px solid #c2c2c2;
      border-radius: 5px;
      text-align: right; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav .menu-icon > svg {
          width: 18px;
          height: 15px; }
          .site-nav .menu-icon > svg path {
            fill: #c2c2c2; }
      .site-nav .trigger {
        clear: both;
        display: none; }
      .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        margin-left: 20px; }
        .site-nav .page-link:not(:last-child) {
          margin-right: 0; } }

/**
 * Site footer
 */
.site-footer {
  background-color: #000000;
  border-top: 1px solid #c2c2c2;
  padding: 30px 0;
  height: 100%; }
  .site-footer a {
    color: #c2c2c2 !important; }
  .site-footer a:hover {
    color: #FFFFFF !important; }
  .site-footer .button {
    background-color: #000000; }

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px; }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -15px; }

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px;
  width: -webkit-calc(50% - (30px / 2));
  width: calc(50% - (30px / 2));
  font-weight: 300; }

@media screen and (max-width: 800px) {
  .footer-col {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
/**
 * Page heading
 */
h1 {
  vertical-align: baseline;
  font-size: 2rem;
  font-weight: 400; }
  h1.page-heading {
    border-bottom: 1px dotted #c2c2c2; }
  h1 small {
    color: #828282;
    font-size: 70%;
    margin-left: 1rem;
    vertical-align: baseline; }

/**
 * Page content
 */
.page-content {
  padding: 30px 0;
  background-color: #ffffff;
  min-height: 50vh; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px;
    display: flex;
    align-items: baseline; }
    @media screen and (max-width: 600px) {
      .post-list > li {
        flex-direction: column; } }
    .post-list > li .post-meta {
      margin-right: 1.5rem;
      min-width: 5.4rem;
      text-align: right; }
    .post-list > li h1, .post-list > li h2, .post-list > li h3 {
      flex-grow: 1; }

.post-meta {
  font-size: 14px;
  color: #828282;
  background-color: #f9f9f9;
  display: inline-block;
  padding: 0.25rem; }

.meta {
  color: #9c9c9c;
  background-color: transparent;
  padding: 0;
  font-weight: 300; }
  .meta a {
    color: #828282;
    text-decoration: none; }
    .meta a:hover {
      color: #424242; }
  .meta .tags {
    text-align: right; }
  .meta .button {
    margin-bottom: 2rem;
    font-size: 1rem; }

.post-link {
  display: block;
  font-size: 24px; }

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px; }

.post-title {
  font-size: 2rem;
  font-weight: 400;
  padding-bottom: 1rem;
  border-bottom: 1px dotted #ccc;
  line-height: 1; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 2rem; } }

.post-content {
  margin-bottom: 30px;
  font-size: 1.1rem;
  position: relative; }
  .post-content .cover {
    padding: 0.5rem;
    background-color: #ffffff;
    border: 1px solid #c2c2c2;
    max-width: 100%;
    display: block;
    margin-bottom: 2rem;
    box-sizing: border-box; }
  .post-content > p {
    margin-bottom: 1.5rem;
    line-height: 2;
    text-align: left;
    vertical-align: baseline; }
    @media screen and (max-width: 600px) {
      .post-content > p {
        line-height: 1.75;
        text-align: left; } }
  .post-content > p:first-child:first-letter {
    font-size: 2.5rem !important;
    font-weight: bold;
    line-height: 1;
    background-color: #424242;
    color: #ffffff;
    padding: 0.25rem 0.5rem 0rem 0.5rem;
    margin-right: 0.1rem;
    margin-bottom: 0;
    vertical-align: baseline; }
  .post-content h2 {
    margin-top: 2.5rem;
    font-size: 1.75rem; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 1.5rem; } }
  .post-content h3 {
    font-size: 1.5rem; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 1.25rem; } }
  .post-content h4 {
    font-size: 1rem;
    font-weight: 700; }
    @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 1rem; } }
  .post-content > ul, .post-content > ol {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 1.2rem; }
  .post-content img {
    max-width: 100%; }
  .post-content .banner {
    text-align: center;
    margin: 1rem 0; }
    .post-content .banner img {
      padding: 0.25rem;
      border: 2px solid #ccc; }

/**
 * Paginator
 */
.pagination-links {
  text-align: center;
  margin: 1rem auto; }
  .pagination-links .pagination-link-divider:before {
    content: " | "; }
  .pagination-links .inactive {
    color: #c2c2c2; }

/**
 * Buttons
 */
.button {
  background-color: #ffffff;
  color: #828282;
  border: 1px solid #828282;
  display: inline-block;
  padding: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.7s; }
  .button a {
    color: #828282;
    text-decoration: none;
    transition: color 0.7s; }
    .button a:hover, .button a:visited {
      color: #424242;
      text-decoration: none; }
  .button:hover, .button:visited {
    color: #424242;
    text-decoration: none; }
  .button.button-link {
    border: none;
    padding: 0; }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlighter-rouge .highlight {
    background: #eef; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }
